*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}



/* Main body starts here */
 h2{
    text-align: center;
    font-size: 50px;
    color: rgb(126, 48, 163);
    margin-top: 40px;
}

h3 {
    font-size: 25px;
}

p{
    font-size: 18px;
}
    
.aboutBanner{
    height: 30rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/14.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.about h3{
    color: white;
    font-weight: bold;
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
} 

.belowText{
    text-align: center;
    margin-top: 20px;
}

.belowText #belowLine{
    background-color: #7e30a3;
    height: 0.2rem;
    width: 7.5rem;
    margin-left: 45%;
    margin-top: 10px;
}

.statistics{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(126, 48, 163);
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.section2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}


.mission{
    display: flex;
    margin-top: 5%;
}


.section2 .mission .history .missionText{
    margin-top: 20                                                                                                                                                                                                                           px;
 
}

.missionText{
    margin-top: 20px;
}

.missionText .text-2{
    margin-top: 20px;
}

.missionImage{
    width: 50%;
    height: 500px;
    background-image: url('images/Mission.jpg');
     background-position: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     border: 2px solid rgb(126, 48, 163);
     border-radius: 10px;
}

.mission .history{
    width: 50%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}



.section3{
    margin-top: 5%;
}

.section3  p{
    text-align: center;
   
}

.coreValues{
    width: 50%;
    height: 490px;
    background-image: url('images/core\ values2.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    margin-left: 25%;
    margin-top: 20px;
    /* animation: myAnim 2s ease-out 0s 2 normal forwards; */
}

/* @keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
} */

.values{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#icon{
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 30px;
    
}

iconify-icon{
    font-size:60px;
    color:rgb(126, 48, 163);
    text-shadow:2px 2px 4px #000000;
    /* animation: myAnim 1s ease-out 0s 3 normal forwards; */
}

/* @keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
} */



.section5{
    margin-top: 5%;
}

.section5 p{
    text-align: center;
}

.subject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#subjectCard{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%; 
}

.section6{
    margin-top: 5%;
    margin-bottom: 30px;
}

.ourTeam{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  

#team{
    width: 20%;
    height: 300px;
    box-shadow: 1px 1px 3px rgb(186, 184, 184);
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
}

/* .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  } */

#team img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

#team h3{
    color: rgb(126, 48, 163);
    text-align: center;
}

#team p{
    text-align: center;
}



/* responsiveness */
@media screen and (max-width:816px) {

    .menu-trigger {
        display: block;
    }
    .menu-top{
        position: relative;
    }
    section{
        position: absolute;
        top: 5px;
        z-index: 99;
    }

    header {
        display: flex;
        align-items: flex-start;
        height: 65%;


    }

    nav ul {
        display: block;


    }

    ul li {
        width: 50vh;

    }

    ul li a {
        display: block;
        text-align: center;
        color: #7E30A3;
        background: #ddd;

    }

    .top {
        display: none;
    }

    .belowText #belowLine{
        background-color: #7e30a3;
        height: 0.2rem;
        width: 6.5rem;
        margin-left: 43%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section2 .mission{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        }
        
        .section2 .mission .missionImage {
            width: 100%;
            height: 400px;
        }
        .section2 .mission .history{
            width: 100%;
        }
    

         .section3 .coreValues{
            width: 80%;
            height: 400px;
            margin-left: 50px;
        }

        #team {
           
            width: 200px;
            height: 300px;
            margin-top: 20px;
        }

        #team img {
            width: 200px;
            height: 250px;
        }

        #team h3{
            font-size: 15px;
        }

        #team p{
            font-size: 12px;
        }

    }

@media (max-width: 375px) {
   
     h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
     
     h3{
        font-size: 20px;
     } 
     
     p{
        font-size: 18px;
    }

    .menu-top {
            position: relative;
        }
    
        section {
            position: absolute;
            top: 5px;
            z-index: 99;
        }

    .logo img {
        margin-left: 0.1em;

    }

        ul li {
            width: 25vh;
    
        }
    
        ul li a {
            display: block;
            text-align: left;
            color: #7E30A3;
            background: #ddd;
    
        }

       
        .belowText #belowLine{
            background-color: #7e30a3;
            height: 0.2rem;
            width: 4.5rem;
            margin-left: 40%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .statistics .num{
            font-size: 22px;
        }
       

        .section2 .mission{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        }
        
        .section2 .mission .missionImage {
            width: 100%;
            height: 200px;
        }
        .section2 .mission .history{
            width: 100%;
        }
    

        .section3 .coreValues{
            width: 80%;
            height: 200px;
            margin-left: 20px;
        }

        .section4 .values{
            margin-left: 68px;
        }
        .section4 #icon{
            margin-top: 20px;
        }
        .top {
            display: none;
        }

        #subjectCard{
           height: 100px;
           width: 100px;
           
        }
       
        #subjectCard img{
            height: 70px;
            width: 70px;
        }

        #subjectCard p{
            text-align: center;
            font-size: 10px;
        }


        #team {
           
            width: 100px;
            height: 150px;
            margin-top: 20px;
        }

        #team img {
            width: 100px;
            height: 120px;
        }

        #team h3{
            font-size: 10px;
        }

        #team p{
            font-size: 7px;
        }

        
}

