* {
    margin: 0;

    padding: 0;
}

h1 {
    color: #7E30A3;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 40px; */
}
p{
    font-size: 18px;
}

.top {
    background-color: #7E30A3;
    display: flex;
    height: 30px;
    justify-content: space-between;

}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.top .top-nav .mail,
.phone {
    display: flex;
    font-size: 14px;
    color: #fff;
    font-family: serif;
    margin: 5px 0 0 20px;
}

.top .mail i,
.phone i {
    font-size: 16px;
    color: #fff;
    height: 50px;
    min-width: 20px;
}

.top .social {
    margin-right: 80px;
}

.top .social i {
    font-size: 18px;
    color: #fff;
    height: 50px;
    min-width: 20px;
    margin-right: 15px;
    margin-top: 5px;
}

/* header responsivenesse */

section {
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* margin-left: 150px; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 18%; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.logo img {
    margin-left: 2.3em;
    height: 45px;
    width: 65px;
    /* max-width: 100%;
   height: auto !important; */
}

nav ul {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
    list-style-type: none;
}

ul li a {
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #7E30A3;
    font-weight: bold;
    transition: .5s;
}

ul li a:hover {
    background: #7E30A3;
    color: #fff;
    transition: .5s
}

.menu-trigger {
    display: none;
    margin-top: 10px;
    margin-right: 1.5em;
    background: #7E30A3;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

/* swipper slider section starting  */
.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    width: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 0.83)rgb(0, 0, 0, 0.83));
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    background: linear-gradient(rgb(0, 0, 0, 0.83)rgb(0, 0, 0, 0.83));
}


.text {
    position: absolute;
    top: 46%;
    left: 30%;
    /* z-index: 9; */
    background: linear-gradient(rgb(0, 0, 0, 0.83)rgb(0, 0, 0, 0.83));
    color: #fff;
}

/* below slider section starting */
.nameless {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #8123ad;
    height: 300px;
}

.nameless .boite {
    display: flex;

    margin-top: 70px;
}

.boite img {
    height: 110px;
    width: 132px;
    border-radius: 8px;
}

/* A word from our founder style in action lol  */
.founder {
    padding-top: 50px;
    width: 80%;
    margin-left: 150px;
}

.founder .speech {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.founder .speech img {
    height: 365px;
    width: 385px;
    border-radius: 15px;
}

.founder .speech p {
    margin-top: 50px;
    width: 696px;
    height: 407px;
    text-align: center;
    font-size: 22px;
}

/* our programs styling starting */
.grid {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid .program {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 0px 0px grey;
    transition: box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}

.grid .program:hover {
    box-shadow: 1px 8px 20px grey;
    transition: box-shadow .6s ease-in;
}

.grid .program img {
    height: 220px;
    width: 288px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
}

.grid .program .program-content {
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
}

.grid .program button {
    background-color: #a634db;
    color: #fff;
    font-size: 20px;
}

/* Recent posts slicker slider modifications style */
.wrapper {
    width: 90%;
    margin-left: 80px;
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
    background-color: #f3f3f3;
    padding-bottom: 20px;
}

.wrapper h1 span {
    font-family: sans-serif;
    color: #8123ad;
}

.carousel {
    width: 90%;
    margin: 0px auto;
    display: flex;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev,
.slick-next {
    background: #000;
    border-radius: 15px;
    border-color: transparent;
}

.carousel .slick-next:before,
.carousel .slick-prev:before {
    font-family: slick;
    font-size: 25px;
    line-height: 1;
    opacity: .75;
    color: #7E30A3;
    -webkit-font-smoothing: antialiased;
}

.carousel .slick-prev {
    left: -40px;
}

.carousel .slick-next {
    right: -35px;
}

.carousel .slick-dots li button::before {
    font-family: slick;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.50;
    color: #8123AD;
    -webkit-font-smoothing: antialiased;
}

.wrapper .carousel .card {
    border-radius: 10px;
}

.wrapper .carousel .card i {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.wrapper .carousel .card p {
    color: #6c757d !important;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wrapper .carousel .card img {
    margin-bottom: 1.5rem !important;
    border-radius: 50% !important;
    vertical-align: middle;
    border-style: none;
}

.wrapper .carousel ul {
    color: #ffc107 !important;
    margin-bottom: 0 !important;
    justify-content: center !important;
    display: flex !important;
    padding-left: 0;
    list-style: none;
}

.wrapper .carousel ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: 0.05357em;
}

/* Footer section starting  */

.footer {
    background-color: #8123AD;
    color: #fff;
}

.upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 26px;
}

.footer .upper img {
    height: 135px;
    width: 220px;
}

.upper .contact-second .icons {
    margin-top: 20px;
}

.upper .contact-second .icons .icon-side {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #fff;
    font-family: serif;
}

.upper .contact-second .icons .icon-side i {
    font-size: 18px;
    color: #fff;
    height: 35px;
    min-width: 25px;
}

/* footer right conotainer style */
.upper .social-second .icons-second {
    margin-top: 30px;
}

.upper .social-second .icons-second i {
    font-size: 22px;
    margin-left: 20px;
}

/* hr {
    background-color: #BDBDBD;
    margin-left: 100px;
    width: 90%;
} */

.doc{
    margin-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

/* about us styling starting  */

.aboutBanner {
    height: 30rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('image/278362073_376743961129998_3466514035956970775_n.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.about .about_h3 {
    color: white;
    font-weight: bold;
    font-size: 70px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.belowText {
    text-align: center;
    margin-top: 20px;
}

.belowText #belowLine {
    background-color: #7e30a3;
    height: 0.2rem;
    width: 7.5rem;
    margin-left: 45%;
    margin-top: 10px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.section2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}


.mission {
    display: flex;
    margin-top: 5%;
}


/* .section2 .mission .history .missionText .missionText .text-2{
    margin-top: 20px;
} */

.missionText {
    margin-top: 20px;
}

.missionText .text-2 {
    margin-top: 20px;
}

.missionImage {
    width: 50%;
    height: 400px;
    background-image: url('image/IMG_0535.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(126, 48, 163);
    border-radius: 10px;
}

.mission .history {
    width: 50%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}



.section3 {
    margin-top: 5%;
}

.section3 p {
    text-align: center;

}

.coreValues {
    width: 100%;
    height: 800px;
    background-image: url('image/CORE-VALUES-V11-2048x1366.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.values {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 5%;
}

#icon {
    margin-right: 5%;
    margin-left: 5%;
}

iconify-icon {
    font-size: 60px;
    color: rgb(126, 48, 163);
    text-shadow: 2px 2px 4px #000000;
}

.section5 p {
    text-align: center;
}

.subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#subjectCard {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.ourTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#team {
    width: 20%;
    height: 400px;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
}

#team img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* #team h3{
    color: rgb(126, 48, 163);
    text-align: center;
} */

#team p {
    text-align: center;
}

.section6 {
    margin-bottom: 30px;
}

/* contact Us page styling starting */
.contact {
    height: 30rem;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/IMG_4643.jpg");
    background-size: cover;
    background-position: center;
}

.contact>h1 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 16rem;
    left: 40%;
}

.Boxes {
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-left: 120px;

}

.Boxes .card {
    background-color: #fff;
    opacity: 0.7;
    height: 150px;
    width: 220px;
    border-radius: 5%;
    text-align: center;
    padding: 40px 15px 20px 15px;
    margin-right: 120px;


}



.icon-svg {
    height: 60px;
    width: 60px;

}


.cards-style>p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

}



.reach-us {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}

.formular {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 400px;



}


form>label {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}

form>input {
    background-color: #7E30A3;
    border: none;
    color: #fff;
    width: 30rem;
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: #7E30A3;



}



.button {
    background-color: #fff;
    width: 7rem;
    color: #7E30A3;
    border-radius: 10%;
    box-sizing: border-box;
}

.Touch {
    height: 400px;
    width: 360px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 37px;

    box-sizing: border-box;
}

.Touch>h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.Touch>p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.8rem;
}



.icon-accent {
    margin-top: 55px;
    margin-right: 40px;
    width: 30px;
    height: 30px;
    fill: #fff;
    display: inline-block;
}

